<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmallUrl</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SmallUrl.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Scripts", required: false)
    <script defer src="~/lib/font-awesome/js/all.min.js"></script>
    <script defer src="~/lib/qrcodejs/qrcode.min.js"></script>
    <script defer src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <a class="nav__home-link" asp-area="" asp-page="/Index">SmallUrl</a>
            <button id="hamburger" class="nav__hamburger"><i class="fa-solid fa-bars"></i></button>
            <ul id="nav-list" class="nav__list">
                <li class="nav__list-item nav__list-item--first">
                    <button id="open-links">My Links</button>
                </li>
                <partial name="_LoginPartial" />
            </ul>
        </nav>
    </header>
    <main role="main" class="main">
        @RenderBody()
    </main>
    <div id="sidebar" class="sidebar sidebar--hidden">
        <div class="sidebar__header">
            <h2>Recent Links</h2>
            <button id="close-links" class="sidebar__close-btn">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        @await Component.InvokeAsync("SavedLinks")
    </div>

    <footer class="footer">
        <p class="footer__text">
            View Source Code
        </p>
    </footer>
</body>
</html>
