@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="center">
    <div class="card card--large">
        <h1 class="card__header">Manage your account.</h1>
        <p class="card__paragraph">Here you can change your account settings.</p>
        <div class="card__menu-divider">
            <partial name="_ManageNav" />
            <div>
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
