@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h2 class="card__header card__header--small">Change your email.</h2>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="email-form" method="post">
    <div asp-validation-summary="ModelOnly" class="card__form-warning" role="alert"></div>
    <div class="card__form-group">
        <label asp-for="Input.NewEmail" class="card__form-label"></label>
        <input asp-for="Input.NewEmail" class="card__form-input" autocomplete="email" aria-required="true" placeholder="Please enter new email." />
        <span asp-validation-for="Input.NewEmail" class="card__form-warning"></span>
    </div>
    <input id="change-email-button" value="Change email" type="submit" asp-page-handler="ChangeEmail" class="card__form-btn" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
