@page
@model ExternalLoginsModel
@{
    ViewData["Title"] = "Manage your external logins";
    ViewData["ActivePage"] = ManageNavPages.ExternalLogins;
}

<div class="btns-container">
    <a id="delete" asp-page="Login" class="btns-container__btn btns-container__btn--dark-green">Login</a>
</div>
