@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h2 class="card__header card__header--small">@ViewData["Title"]</h2>

<p class="card__paragraph">Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
<p class="card__paragraph">
    <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
</p>
<form id="download-data" class="btns-container" asp-page="DownloadPersonalData" method="post">
    <input class="btns-container__btn btns-container__btn--dark-green" value="Download" type="submit" />
    <a id="delete" asp-page="DeletePersonalData" class="btns-container__btn btns-container__btn--dark-red">Delete</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
