@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="btns-container">
    <a id="delete" asp-page="Login" class="btns-container__btn btns-container__btn--dark-green">Login</a>
</div>
